<% provide(:title, "Home") %>

<% if logged_in? %>
  <%= render 'search_form' %>
<% else %>

  <div class="center jumbotron">

    <h1> Codea Vuelos </h1>

    <h2> Bienvenido </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

  </div>

<% end %>
